.App {
  text-align: center;
  background-color: aqua;
  height: 50vh;

  /* margin: 4rem ; */
}

.menu {
  position: absolute;
  background-color: gray;
  width: auto;
  list-style: none;
padding: 0;
  text-align: center;

}
.menu li{
  padding: 0 30px;
}
.menu li:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}